/*div.content {
  padding: 25px;
}*/

header {
  background: #3b8686;
  color: #f4f7f7;
  height: 3rem;
  padding-left: 25px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header a,
header a:visited,
header a:link {
  text-decoration: none;
  color: #f4f7f7;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}
