.two-pane {
  position: absolute;
  top: 3rem;
  bottom: 0;
  width: 100%;
}

.left {
  position: absolute;
  width: 30%;
  height: 100%;
  overflow: auto;
}

.left .pad {
  padding-left: 25px;
}

.right {
  position: absolute;
  width: 70%;
  right: 0;
  height: 100%;
  padding: 1.25rem;
}

.pokemon-list {
  padding-left: 0;
}

.pokemon-list li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.pokemon-list .item {
  height: 4rem;
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.pokemon-list .item:hover {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0);
}
