<div *ngIf="pokemonList">
  <div class="two-pane">
    <div class="left">
      <div class="pane-header pad">
        <h2>Generation {{ generation }}</h2>
        <input [(ngModel)]="filterStr" placeholder="Quick findr">
      </div>
      <ul class="pokemon-list">
        <li *ngFor="#pokemon of pokemonList | pokemonFilter:filterStr"
          class="item"
          (click)="showPokemon(pokemon.id)">
          {{ pokemon.name }}
        </li>
      </ul>
    </div>
    <div class="right">
      <div *ngIf="selectedPokemon">
        <h2>{{ selectedPokemon.name }}</h2>
        <img src="{{ selectedPokemon.img }}" />
      </div>
    </div>
  </div>
</div>
